body {
	background-color: darkcyan;
	color: darkblue;
}

/* CSS Selectors */
/* Element */
li {
}

/* Class */
.hello {
}

/* id */
#name {
}

/* Star - */
* {
	/* applies to every element on the page */
}

/* Descendant Selector */
li a {
	/* - selects every anchor <a> tag inside of an <li> tag */
}

li .hello {
	/* selects every hello class element inside of an <li> tag */
}

/* Adjacent Selector */
h4 + ul {
	/* selects elements that come after another element - as a sibling on the same level */
}

/* Attribute Selector */
a [href="https://www.google.com"] {
	/* select all attributes of a particular type */
}

input[type="checkbox"] {
	/* selects all inputs (attributes) of a particular type */
}

/* nth of type */
ul:nth-of-type(3) {
	/* Select the (3rd) <ul> element within the group */
}
